@model SalesforceCon.Models.CustomerModels
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.EnableClientValidation(true);
}
<script src="~/Scripts/Module.js"></script>
<script src="~/Scripts/Service.js"></script>
<script src="~/Scripts/Controller.js"></script>
<link href="~/Content/SalesforceCustomer.css" rel="stylesheet" />
<div class="registration_form" ng-controller="myCntrl">
    <h2>Edit</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        if (ViewBag.AddressMessage == "Customer Updated Successfully")
        {
            <script type="text/javascript">
                alert('@ViewBag.AddressMessage');
            </script>
        }
        else if (ViewBag.AddressMessage == "Customer Updated UnSuccessfully")
        {
            <script type="text/javascript">
                alert('@ViewBag.AddressMessage');
            </script>
        }
        @Html.ValidationSummary(true)

        <div>
            <div class="formRowContainer">
                <div class="labelContainer">
                    @Html.LabelFor(model => model.FirstName)
                    <span class="important-mark">*</span>
                </div>
                <div class="valueContainer">
                    <input type="text" class="form-control" placeholder="First Name" name="fName" ng-model="FirstName" required autofocus />
                    @*<h3>{{ FirstName }}</h3>*@
                </div>
            </div>

            <div class="clearStyle"></div>
            <div class="formRowContainer">
                <div class="labelContainer">
                    @Html.LabelFor(model => model.LastName)
                    <span class="important-mark">*</span>
                </div>
                <div class="valueContainer">
                    <input type="text" class="form-control" placeholder="Last Name" name="lName" ng-model="LastName" required autofocus />
                </div>
            </div>

            <div class="clearStyle"></div>
            <div class="formRowContainer">
                <div class="labelContainer">
                    @Html.LabelFor(model => model.Email)
                    <span class="important-mark">*</span>
                </div>
                <div class="valueContainer">
                    <input type="email" class="form-control" placeholder="User's Email" name="uEmail" ng-model="Email" required autofocus />
                </div>
            </div>
            <div class="clearStyle"></div>
            <div class="formRowContainer">
                <div class="labelContainer">
                    @Html.LabelFor(model => model.Company)
                    <span class="important-mark">*</span>
                </div>
                <div class="valueContainer">
                    <input type="text" class="form-control" placeholder="Company" name="uCompany" ng-model="Company" required autofocus />
                </div>
            </div>

            <div class="clearStyle"></div>
            <div class="formRowContainer">
                <div class="labelContainer">
                    @Html.LabelFor(model => model.Password)
                    <span class="important-mark">*</span>
                </div>
                <div class="valueContainer">
                    <input type="password" class="form-control" placeholder="Password" name="upassword" ng-model="Password" required autofocus />
                </div>
            </div>

            <div class="clearStyle"></div>
            <div class="formRowContainer">
                <div class="labelContainer">
                    @Html.LabelFor(model => model.ConfirmPassword)
                    <span class="important-mark">*</span>
                </div>
                <div class="valueContainer">
                    <input type="password" class="form-control" placeholder="ConfirmPassword" name="uconfirmpassword" ng-model="ConfirmPassword" required autofocus />
                </div>
            </div>

            <div class="clearStyle"></div>
            <div class="buttonContainer">
                <input type="button" value="Save" ng-click="updateUser();" class="btn btn-success" />
            </div>
        </div>
    }
</div> 